.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 48px;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    align-self: center;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
}