.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 48px;
    margin-left: 5vw;
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    align-self: center;
  }
}

body {
  background: #C5E9FF 50%;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 91%;
  }
}