.spendings-input {
  display: flex;
  flex-direction: column;
  
  &__description {
    margin: 0;
    font-size: 1.25rem;
    color: rgb(39, 39, 39);
  }

  &__value {
    height: 66px;
    margin-right: 40px;
    padding: 0;
    font-size: 1.25rem;
    text-indent: 10px;
    border: 1px solid rgb(199, 195, 195);
    border-radius: 8px;

    &::placeholder {
      position: relative;
      left: 15px;
      color: rgb(199, 196, 196);
    }
  }

  &__error-message {
    margin: 2px 0;
    color: red;
  }
}

.input_empty {
  outline: 2px solid red;
}

.wide {
  width: 46vw;
}

.average {
  width: 23vw;
}