body {
  background: #C5E9FF 50%;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  font-family: "Roboto", sans-serif;
}

button {
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.08);
  }
}

img {
  width: 45px;
  height: 45px;
}

.cost {
  &-where-spent {
    width: 44vw;
  }

  &-when-spent {
    width: 18vw;
  }

  &-how-much-spent {
    width: 9vw;
  }
}

@media screen and (max-width: 1400px) {
  .cost {
    &-where-spent {
      width: 41vw;
    }
  
    &-when-spent {
      width: 18vw;
    }
  
    &-how-much-spent {
      width: 10vw;
    }
  }

  img {
    width: 40px;
    height: 40px;
  }
}